/*GENERAL*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}

:root{
    --primary-color: #FFFFFF;
    --bg-section: #F6F6F6;
    --bg-footer:  #23272A;
    --dark-text: #000000;
    --bg-header: #2A5EE8;
    --bg-light: #7289DA;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

body{
    background-color: var(--primary-color);
}

.debug{
    border: 1px solid black;
}

.d-flex{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: flex-start;
}

ul{
    list-style: none;
}

.align-center{
    align-items: center;
}

/*HEADER*/
header{
    background-color: var(--bg-header);
}

#hero{
    background-image: url(../img/jumbo.png);
    background-size: cover;
    min-height: 600px;
}

{

}